<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Delete Admin</title>
</head>
<body>
	<h1>Delete Admin</h1>

	<p>
		Are you sure you want to delete the admin with ID: <span
			th:text="${id}"></span> and Username: <span th:text="${username}"></span>?
	</p>

	<form method="post" th:action="@{/admin/deleteAdmin}">
		<input type="hidden" id="id" name="id" th:value="${id}"> <input
			type="hidden" id="username" name="username" th:value="${username}">
		<button type="submit">Delete</button>
	</form>

	<a href="">Back to Admin List</a>
</body>
</html>